{% extends "base.html" %}

{% block title %}Home | PHAS{% endblock %}

{% block content %}
<h1 class="text-center py-4">Predictive Health Analytics System (PHAS)</h1>
<section class="section-container">
    <div class="section-box">
        <h1>What we offer</h1>
        <p>We offer artificial health predictions based on the user's daily activities.</p>
    </div>
    <div class="section-box">
        <h1>Why choose Us</h1>
        <p>We provide superior patient analytics and insights.</p>
    </div>
    <div class="section-box">
        <h1>National Reach</h1>
        <p>Our services are available across the nation, reaching any location in Malawi.</p>
    </div>
</section>

<section class="section-container">
    <div class="section-box">
        <h1>Contacts US</h1>
        <p>You can contact our admnistrators here</p>
        <button class="btn btn-primary text-center">Contact Us</button>
    </div>
</section>
{% endblock %}
